
@model IEnumerable<MVC_ecommerceProject.Models.RetriveProductView>

@{
    ViewBag.Title = "Index";
}

<!--slider caroseoul images begin-->
<div class="container" style="margin-top:80px;">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/Images/b.jpg" class="d-block" width="1150" height="590" />
                <div class="carousel-caption d-none d-md-block text-light">

                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/Images/ban_25.jpg" class="d-block" width="1150" height="590" />
                <div class="carousel-caption d-none d-md-block text-light">
                    @*<h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>*@
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/Ban_20.jpg" class="d-block" width="1150" height="590" />
                <div class="carousel-caption d-none d-md-block text-light">
                    @*<h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>*@
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/banner_16.jpg" class="d-block" width="1150" height="590" />
                <div class="carousel-caption d-none d-md-block text-light">
                    @*<h5>Fourth slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>*@
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/banner_18.jpg" class="d-block" width="1100" height="590" />
                <div class="carousel-caption d-none d-md-block text-light">
                    @*<h5>Fifth slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>*@
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/banner_3.jpg" class="d-block" width="1150" height="590" />
                <div class="carousel-caption d-none d-md-block text-light">
                    @*<h5>Fifth slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>*@
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!--slider images end-->
<!--Navbar for Home page begin-->

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="@Url.Action("Index","Home")" class="nav-link">
                <img src="~/Images/logo.jpg" width="50" height="40" class="me-1 navbar-brand" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menubar">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        @Html.ActionLink("Shopping", "Index", "ViewProduct", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Categories", "Category", "ViewProduct", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Sub Categories", "SubCategory", "ViewProduct", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Brands", "Brand", "ViewProduct", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 col-10" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<!--Navbar for Home page end-->
<!--All Product Section Begin-->

<div class="container mt-4">
    <div class="row">
        <h2 class="mb-3 text-center">All Products View</h2>
        @foreach (var p in Model)
        {
            <div class="col-md-3 border-primary mb-3">
                <div class="card mb-4" style="max-width:540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <img src="@Url.Content(p.Images)" width="100%" height="350" />
                        </div>
                        <div class="col-md-12">
                            <div class="card-body">
                                <p class="card-text"><b>Brand: </b>@Html.DisplayFor(x => p.BrandName)</p>
                                <p class="card-text"><b>Unit Price: </b>TK-@Html.DisplayFor(x => p.UnitPrice)</p>
                                <p class="card-text">
                                    <b>Status: </b>
                                    @if (p.QuantityInStock != 0)
                                    {
                                        <span class="badge bg-success text-white fw-bold">Available</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger text-white fw-bold">Not Available</span>
                                    }
                                </p>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="card-footer" style="background-color:cornsilk;">
                                <p class="card-text">
                                    <a href="@Url.Action("ShowProduct","ViewProduct",new { id=p.ProductId})" class="btn btn-primary"@*style="background-color:cornsilk;*@>Show Details</a>
                                    @*<a href="#" class="btn btn-success text-white">Add To Cart</a>*@

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>

</div>

