@model PagedList.IPagedList<MVC_ecommerceProject.Models.InputModel.Brand>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Brand";
}

<div class="container" style="margin-top:65px;">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm())
            {<div class="row mb-2">
                    <div class="col-md-11">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control r", placeholder = "Search by Brand Name..." })

                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn alert-success">Search</button>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

<div class="card container">

    <div class="card-header alert-secondary">
        <h1 class="card-title text-center text-light">Brand List</h1>

    </div>
    <div class="card-body ">
        <div class="row">


            <table class="table table-bordered table-striped">
                <thead class="alert-success">
                    <tr>
                        <th>ID</th>
                        <th>Category</th>
                        <th>Sub Category</th>
                        <th>
                            @Html.ActionLink("Brand", "Brand", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var brand in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => brand.Id)</td>
                            <td>@Html.DisplayFor(x => brand.Category.CategoryName)</td>
                            <td>@Html.DisplayFor(x => brand.SubCategory.SubCategoryName)</td>
                            <td>@Html.DisplayFor(x => brand.BrandName)</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer alert-secondary" style="padding:5px">

        <div class="d-flex justify-content-between container">

            @Html.PagedListPager(Model, page => Url.Action("Brand", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        </div>

    </div>
</div>

