@model MVC_ecommerceProject.Models.InputModel.Category
@{
    ViewBag.Title = "Delete";
}

<div class="container" style="margin-top:75px;">
    <div class="row">
        <h3 class="text-capitalize offset-4">Delete Category</h3>
        <div class="col-md-12">
            @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnComplete = "clearAll" }))
            {
                @Html.HiddenFor(x => x.Id)
                <div class="row mb-2">
                    @Html.LabelFor(x => x.CategoryName, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-2">
                    @Html.LabelFor(x => x.CategoryDescription, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-10 offset-2" id="msg">

                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-md-10 offset-2">
                        <button type="submit" class="btn btn-info">Delete</button>
                        <a href="@Url.Action("Index", "Category")" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $("#form0").attr("enctype", "multipart/form-data")
        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}
