@model MVC_ecommerceProject.Models.InputModel.Brand
@{
    ViewBag.Title = "Edit";
}
<div class="container" style="margin-top:75px;">
    <div class="row">

        <div class="col-md-12 mb-3">
            <h3 class="text-capitalize offset-4">Edit Brand</h3>
        </div>

        <div class="col-md-12">
            @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnComplete = "clearAll" }))
            {
                @Html.HiddenFor(x => x.Id)
                <div class="row mb-2">
                    @Html.LabelFor(x => x.BrandName, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.BrandName, new { @class = "form-control r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.BrandName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-2">
                    @Html.LabelFor(x => x.CategoryId, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.categoryList, "Id", "CategoryName"), "----Select One---", new { @class = "form-control form-select r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.SubCategoryId, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(x => x.SubCategoryId, new SelectList(ViewBag.subCategoryList, "Id", "SubCategoryName"), "----Select One---", new { @class = "form-control form-select r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.SubCategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-10 offset-2" id="msg">

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-10 offset-2">
                        <button type="submit" class="btn btn-info">Update</button>
                        <a href="@Url.Action("Index","Brand")" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $("#form0").attr("enctype", "multipart/form-data")
        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}
