@model MVC_ecommerceProject.Models.RetriveProductView
@{
    ViewBag.Title = "Delete";
}
<div class="container" style="margin-top:75px;">
    <div class="row">

        <div class="col-md-12 mb-3">
            <h3 class="text-capitalize offset-4">Delete Product</h3>
        </div>

        <div class="col-md-12">
            @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnComplete = "clearAll" }))
            {
                <div class="row mb-2">
                    @Html.LabelFor(x => x.ProductName, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-2">
                    @Html.LabelFor(x => x.CategoryName, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control form-select r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-2">
                    @Html.LabelFor(x => x.SubCategoryName, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.SubCategoryName, new { @class = "form-control form-select r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.SubCategoryName, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.BrandName, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.BrandName, new { @class = "form-control form-select r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.BrandName, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.QuantityPerUnit, new { @class = "col-form-label col-md-2 r", type = "number" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.QuantityPerUnit, new { @class = "form-control r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.QuantityPerUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.UnitPrice, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.UnitPrice, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.QuantityInStock, new { @class = "col-form-label col-md-2 r", type = "number" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.QuantityInStock, new { @class = "form-control r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.QuantityInStock, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-1">
                    @Html.LabelFor(x => x.StockInStatus, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6" style="margin-left:3px;">
                        @Html.CheckBox("StockInStatus")
                    </div>

                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.Description, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.StoreDate, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.StoreDate, new { @class = "form-control r" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.StoreDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.Images, new { @class = "col-form-label col-md-2 r" })
                    <div class="col-md-6">
                        <img src="@Url.Content(Model.Images)" width="300" height="200" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-10 offset-2" id="msg">

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-10 offset-2">
                        <button type="submit" class="btn btn-info">Delete</button>
                        <a href="@Url.Action("Index","Products")" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $("#form0").attr("enctype", "multipart/form-data")
        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}

